

.header {
    background-image: url(../CarsSait-verst3/Img/Cars-img/Cars-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh;
    margin: -8px -8px;
}

.menu-button {
    padding-left: 130px;
    padding-top: 25px;
    font-family: 'Kanit', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

.menu-btn {
    text-decoration: none;
    color: #ffff;
    padding-right: 13px;
    transition: color 0.5s linear;
}

.menu-btn:hover {
    color: rgb(236, 103, 103);
}

.title-head {
    text-align: center;
    color:#DB3138;
    font-family: 'Noto Serif', serif;
    font-size: 70px;
    font-weight: 700;
    margin-top: 117px;
    margin-bottom: 25px;
    transition: all 0.5s;
    cursor: default;
}

.title-head:hover {
  margin-bottom: 5px;
    font-size: 75px;
}

.dec-header {
    text-align: center;
    padding-bottom: 30px;
}

.romb-hed {
    padding-right: 20px;
    height: 10px;
}



.head-desc {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #ffff;
    padding-bottom: 40px;
}

.serv-btn {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 13px;
    font-weight: 600;
    
}

.servis {
    padding-bottom: 72px;
}

.btn-serv {
    text-decoration: none;
    color: #ffff;
    background-color: #DB3138;
    padding: 13px 16px;
    border-radius: 1px;
    transition: all 1s;
}

.btn-serv:hover {
    background-color: #7e2528;
    border-radius: 20px;
}


/**------------Info part(email....)------------**/

.info {
    display: flex;
}

/*------------------------*/

.adress {
    padding-left: 97px;
    border: 1px solid rgba(255, 255, 255, .5);
    border-left: none;
    transition: all 1s;
}

.adress:hover {
    background-color: rgba(212, 197, 197, 0.404);
    opacity: 70%;
}

/**--------------------------**/
.adress-title {
    padding-top: 25px;
    padding-right: 196px;
    padding-left: 59px;
    padding-bottom: 15px;
    font-family: 'Kanit', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #ffff;
    cursor: default;
}

.adress-inf {
    font-family: 'Noto Serif', serif;
    font-size: 10px;
    font-weight: 700;
    
    padding-right: 100px;
    padding-bottom: 50px;
    
}


.adr-hr {
    text-decoration: none;
    color: #DB3138;
    transition: color 0.5s linear;
}

.adr-hr:hover {
    color: #ffff;
}

/*------------------------------------------*/



.telnumb {
    border: 1px solid rgba(255, 255, 255, .5);
    transition: all 1s ;
    
}

.telnumb:hover {
    background-color: rgba(212, 197, 197, 0.404);
    opacity: 70%;
}

/**--------------------------**/


.numb-title {
    padding-top: 20px;
    padding-bottom: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #ffff;
    padding-left: 186px;
    padding-right: 186px;
    cursor: default;
}

.numb-info {
    font-family: 'Noto Serif', serif;
    font-size: 12px;
    font-weight: 700;
    color: #DB3138;
    padding-bottom: 50px;
    text-align: center;
}

.numb-btn {
    text-decoration: none;
    color: #DB3138;
    transition: color 0.5s linear;
}

.numb-btn:hover {
    color: #ffff;
}

.number-2 {
    text-align: center;
    padding-top: 5px;
}
/*-------------------------*/

.date-header {
    padding-left: 144px;
    border: 1px solid rgba(255, 255, 255, .5);
    border-right: none;
    transition: all 1s;
}

.date-header:hover {
    background-color: rgba(212, 197, 197, 0.404);
    opacity: 70%;
}

/**--------------------------**/
.date-title {
    padding-top: 15px;
    padding-right: 198px;
    margin-left: 54px;
    padding-bottom: 10px;
    font-family: 'Kanit', sans-serif;
    font-size: 10px;
    font-weight: 700;
    color: #ffff;
    display: flex;
    cursor: default;
}

.date-inf {
    font-family: 'Noto Serif', serif;
    font-size: 12px;
    font-weight: 700;
    
    padding-right: 100px;
    padding-bottom: 50px;
    color: #DB3138;
    padding-left: 20px;
}



.date {
    text-decoration: none;
    color: #DB3138;
    transition: color 0.5s linear;
}

.date:hover {
    color: #ffff;
}

.date-2 {
    padding-top: 7px;
}



/*-------------Achivement------------*/

.achivments {
    display: flex;
    padding-left: 550px;
    margin-top: -338px;
}

.all-down {
    background-color: #1E1E1E;
    padding-bottom: 384px;
     
}


.achiv-tile {
    font-family: 'Kanit', sans-serif;
    font-size: 27px;
    font-weight: 700;
    color: #ffff;
    padding-left: 120px;
    padding-top: 100px;
    
    transition: all 0.5s;
    cursor: default;
}

.achiv-tile:hover {
    font-size: 30px;
    padding-bottom: 20px;
}

.dec-achiv {
    padding-left: 120px;
    padding-bottom: 30px;
    padding-top: 40px;
}

.romb-hed {
    padding-right: 20px;
    height: 10px; 
}



.desc-achiv {
    font-family: 'Kanit', sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: #ffff;
    padding-left: 120px;
    transition: all 1s;
    cursor: default;
    
}

.desc-achiv:hover {
    color: #DB3138;
}


/*----------------------------------------------*/




.place-1 {
    margin-top: 93px;
    margin-left: 45px;
    padding-top: 47px;
    padding-right: 10px;
    padding-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, .5);
    transition: all 1s linear;
}

.place-1:hover {
    background-color: rgba(212, 197, 197, 0.404);
    opacity: 70%;
    
}

.desc-place-1 {
    font-family: 'Kanit', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    color: #ffff;
    cursor:pointer;
    transition: all 1s;
}

.desc-place-1:hover {
    color: #DB3138;
    
}

.img-place {
    margin-top: -19px;
    padding-left: 100px;
}

.img-place-1 {
    padding-left: 100px;
    margin-top: -19px;
}

.place-under {
    margin-left: 45px;
    padding-top: 47px;
    padding-right: 10px;
    padding-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, .5);
    transition: all 1s linear;
    border-top: none;
}

.place-under:hover {
    background-color: rgba(212, 197, 197, 0.404);
    opacity: 70%;
    
}


/*-----------------2 PART------------------------*/
.places-2-achiv {
    margin-left: -45px;
    padding-top: 105px;
    padding-bottom: 150px;
}

.place-2 {
    margin-top: 9px;
    margin-left: 45px;
    padding-top: 47px;
    padding-right: 10px;
    padding-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, .5);
    transition: all 1s linear;
}

.place-2:hover {
    background-color: rgba(212, 197, 197, 0.404);
    opacity: 70%;
    
}


.place-2-under {
    margin-left: 45px;
    padding-top: 47px;
    padding-right: 10px;
    padding-bottom: 25px;
    border: 1px solid rgba(255, 255, 255, .5);
    transition: all 1s linear;
    border-top: none;
}

.place-2-under:hover {
    background-color: rgba(212, 197, 197, 0.404);
    opacity: 70%;
    
}


.img-place-2 {
    padding-left: 100px;
    margin-top: -19px;

}

.img-place-2:hover {
    color: #DB3138;
}

.desc-place-2:hover {
    color: #DB3138;
    
}





/*---------------------Speed--------------------*/

.info-speed {
    display: flex;
    
}



.arrow-btn {
    height: 50px;
}


.arrow-left {
    margin-top: 90px;
    padding-left: 100px;
}


.arrow-reight {
    margin-top: 90px;
}


.sp-img-1 {
    height: 220px;
    padding-right: 20px;    
    margin-left: 25px;
    transition: all 1s;
    margin-bottom: 200px;
}

.sp-img-1:hover {
    height: 240px;
    margin-bottom: 170px;
}

.sp-img-2 {
    height: 220px;
    padding-right: 250x;
    transition: all 1s;
    margin-bottom: 200px;
}

.sp-img-2:hover {
    height: 240px;
    margin-bottom: 170px;
}


.sp-img-3 {
    height: 220px;   
    padding-left: 20px;
    padding-right: 25px;
    transition: all 1s;
    margin-bottom: 200px;
}

.sp-img-3:hover {
    height: 240px;
    margin-bottom: 170px;
}




/*-----------STO PSRT--------*/
 
.STO-part {
    display: flex;
    margin-bottom: 160px;
}

/*-------------*/


.part-1-STO {
    display: flex;
    margin-left: 150px;
    
}

.icons-title {
    height: 40px;
    padding-right: 15px;
}

.title-sto-1 {
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin-top: 8px;
    color: #ffff;
    cursor: default;
    margin-bottom: 40px;
    transition: all 1s ;

}


.title-sto-1:hover {
    margin-bottom: 20px;
    font-size: 20px;
    color: #ff6e6e;
}


.desc-sto {
    padding-left: 150px;
    font-family: 'Noto Serif', serif;
    font-size: 11px;
    font-weight: 700;
    color: #ffff;
    transition: color 0.5s linear;
    cursor: pointer;
    margin-bottom: 30px;
}

.desc-sto:hover {
    color: #DB3138;
}

.romb-STO {
    font-family: 'Kanit', sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: #ffff;
    margin-left: 290px;
    transition: all 1s;
    cursor: default;
    margin-bottom: 40px;
}



/*---------------- 2 ------------*/
.part-2-STO {
    display: flex;
    margin-left: 150px;
    
}


.icons-title-2 {
    height: 35px;
    padding-right: 15px;
}


.title-sto-2 {
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin-top: 8px;
    color: #ffff;
    cursor: default;
    margin-bottom: 40px;
    transition: all 1s ;

}


.title-sto-2:hover {
    margin-bottom: 20px;
    font-size: 20px;
    color: #ff6e6e;
}


/*-----------3------------*/

.part-3-STO {
    display: flex;
    margin-left: 150px;
    
}


.icons-title-3 {
    height: 35px;
    padding-right: 15px;
}


.title-sto-3 {
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    font-weight: 600;
    margin-top: 8px;
    color: #ffff;
    cursor: default;
    margin-bottom: 30px;
    transition: all 1s ;

}


.title-sto-3:hover {
    margin-bottom: 20px;
    font-size: 20px;
    color: #ff6e6e;
}




/*------------STO-right----------*/

.STO-right {
    padding-left: 60px;
    
}

.rieght-desc {
    display: flex;
}


/*---------------*/
.sto-img {
    height: 400px;
    margin-bottom: 30px;
    margin-top: 80px;
}


.arr-right , .arr-right{
    height: 40px;
}

.r-sto-desc {
    padding-left: 72px;
    margin-top: -40px;
    font-family: 'Noto Serif', serif;
    font-size: 11px;
    font-weight: 700;
    margin-right: 12px;
    transition: color 0.5s linear;
    cursor: pointer;
    margin-bottom: 30px;
    transition: color 2s linear;
    color: #ffff;
}

.r-sto-desc:hover {
    color: #DB3138;
}
 
.arr-left {
    height: 40px;
}

.arrow-sto-r {
    margin-left: 420px;
    margin-top: -64px;
}



/*----------Servicessssssss---------*/

.srvis-title {
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #ffff;
    cursor: default;
    transition: all 1s;
    margin-bottom: 40px;
}

.romb-SERV {
    font-family: 'Kanit', sans-serif;
    font-size: 11px;
    font-weight: 500;
    color: #ffff;
    margin-left: 550px;
    cursor: default;
    margin-bottom: 40px;
}

.srvis-title:hover {
    font-size: 35px;
}

.button-serv{
    display: flex;
    justify-content: center;

}




.btn-servic {
    font-family: 'Kanit', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #ffff;
    padding: 13px 16px;
    border-radius: 1px;
    transition: all 1s;
    cursor: pointer;
    margin-right: 10px;
}

.btn-servic:hover {
    background-color: #7e2528;
    border-radius: 10px;
}

.btn-servic-1 {
    font-family: 'Kanit', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #ffff;
    padding: 13px 16px;
    border-radius: 1px;
    transition: all 1s;
    cursor: pointer;
    margin-left: 20px;
}


.btn-servic-1:hover {
    background-color: #7e2528;
    border-radius: 10px;
}



/*---------card--------------*/

.card-services {
    display: flex;
}

.card-1-serv {
    border: 1px solid #898989;
    margin-top: 80px;
    margin-left: 160px;
    transition: all 1.5s;
}

.card-1-serv:hover {
    background-color: rgba(212, 197, 197, 0.404);
    opacity: 90%;
}


.img-serv-1 {
    width: 60px;
    margin: 29px 0px 51px 70px;
}

.servis-title-1 {
    font-family: 'Kanit', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #ffff;
    margin: -28px 35px 15px;

}


.desc-servis-1 {
    font-family: 'Noto Serif', serif;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    color: #ffff;
    margin: 0px 10px;
    transition: color 1s linear;
    cursor: pointer;
}


.desc-servis-1:hover {
   color: #ff6e6e;
    
}

.servis-button {
    margin: 40px  55px 40px ;
    
}

.servis-btn {
    font-family: 'Kanit', sans-serif;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    color: #ffff;
    background-color: #DB3138;
    padding: 10px;
    transition: all 1s;
}

.servis-btn:hover {
    background-color: #7e2528;
    border-radius: 5px;
}


/*-----------------------------*/

.card-2-serv {
    border: 1px solid #898989;
    margin-top: 80px;
    transition: all 1.5s;
    margin-left: 30px;
}

.card-2-serv:hover {
    background-color: rgba(212, 197, 197, 0.404);
    opacity: 90%;
}

.img-serv-2 {
    width: 40px;
    margin: 29px 0px 51px 77px;
}


/*--------------------------------*/

.card-3-serv {
    border: 1px solid #898989;
    margin-top: 80px;
    transition: all 1.5s;
    margin-left: 30px;
}

.card-3-serv:hover {
    background-color: rgba(212, 197, 197, 0.404);
    opacity: 90%;
}

.img-serv-3 {
    width: 60px;
    margin: 29px 0px 51px 70px;
}
/*------------------------*/
.card-4-serv {
    border: 1px solid #898989;
    margin-top: 80px;
    transition: all 1.5s;
    margin-left: 30px;
}

.card-4-serv:hover {
    background-color: rgba(212, 197, 197, 0.404);
    opacity: 90%;
}


/*---------sto 2 part---------*/

 
.STO-part-2 {
    display: flex;
    margin-top: 150px;
    
}


.inf-STO {
    margin-top: 93px;
}


.STO-left {
    margin-left: 160px;
    
}


.title-icons-sto {
    display: flex;
    margin-left: 100px;
}

.icons-sto-2 {
    height: 40px;
}

.title-rig-sto {
    margin-left: 30px;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffff;
    margin-bottom: 40px;
    transition: all 1.5s;
    cursor: default;
}

.title-rig-sto:hover {
    color: #DB3138;
    margin-bottom: 20px;
    font-size: 22px;
}

.desc-ato-2 {
    font-family: 'Noto Serif', serif;
    font-size: 11px;
    font-weight: 500;
    margin-left: 100px;
    color: #ffff;
    transition: all 1s;
    cursor: pointer;
}


.desc-ato-2:hover {
    color: #DB3138;
}

.romb-STO-2 {
    margin-top: 30px;
    margin-left: 250px;
}

/*-----------------------*/
.right-sto-2-part-2 {
    margin-top: 50px;
}

.icons-sto-2-part-2 {
    height: 50px;
    margin-top: 10px;
}

.title-rig-sto-2 {
    margin-left: 20px;
    margin-top: 22px;
    font-family: 'Kanit', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #ffff;
    margin-bottom: 40px;
    transition: all 1.5s;
    cursor: default;
}

.title-rig-sto-2:hover {
    color: #DB3138;
    margin-bottom: 20px;
    font-size: 20px;
}

/*---------------*/
.sto-img-2 {
    height: 400px;
    margin-bottom: 30px;
    margin-top: -77px;
}


/*-------------------------------*/
.icons-sto-3-part-2 {
    height: 50px;
}

.right-sto-3-part-2 {
    margin-top: 10px;
}



/*----------jOBS PART------------*/

.jobs-we {
    margin-top: 190px;
}

.jobs-title {
    font-family: 'Kanit', sans-serif;
    font-size: 33px;
    font-weight: 600;
    text-align: center;
    color: #ffff;
    cursor: default;
}

.romb-Jobs {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 40px;
}



.img-banner {
    height: 531px;
}



/*-----------------input part---------*/

.input-part {
    margin-top: 120px;
}


.inp-title {
    text-align: center;
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.input-2 {
    margin-top: 75px;
    display: flex;
}

.inp-name {
    margin-left: 380px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    background:none;
    border: 1px solid #898989;
    color: rgb(218, 216, 216);
    width: 200px;
    
}



.inp-name::placeholder {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 10px;
    font-weight: 500;
    
    
}

.inp-name:hover {
    opacity: 70%;
    border-color: #DB3138 ;
}


.inp-name:focus {
    outline: none;
    border-color: #DB3138 ;
}


.inp-tel {
    margin-left: 20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    background:none;
    border: 1px solid #898989;
    color: #fff;
    width: 200px;
}

.inp-tel::placeholder {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 10px;
    font-weight: 500;
}

.inp-tel:hover {
    opacity: 70%;
    border-color: #DB3138 ;
}



.inp-tel:focus {
    outline: none;
    border-color: #DB3138 ;
}





/*--------------text-------------*/

.text-inp {
    margin-left: 380px;
    margin-top: 40px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    background:none;
    border: 1px solid #898989;
    color: #fff;
    width: 445px;
    height: 100px;

    overflow: hidden;
    resize: none;
}

.text-inp::placeholder {
    color: #fff;
    font-family: 'Kanit', sans-serif;
    font-size: 10px;
    font-weight: 500;
    
    
}

.text-inp:hover {
    opacity: 70%;
    border-color: #DB3138 ;
}


.text-inp:focus {
    outline: none;
    border-color: #DB3138 ;
}


.input-button {
    margin-top: 40px;
    margin-left: 380px;
    
}

.input-btn {
    font-family: 'Kanit', sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-decoration: none;
    color: #ffff;
    padding: 13px 16px;
    border-radius: 1px;
    transition: all 1s;
    cursor: pointer;
    margin-right: 10px;
    background-color: #DB3138;
}


.input-btn:hover {
    background-color: #7e2528;
    border-radius: 5px;
}


.input-btn:focus {
    background-color: #7e2528;
    outline: none;
}